html,body{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    background-color: #282D35;
    color: white;
    background-image: url('react-logo-half.png');
    background-repeat: no-repeat;
    background-position: right 50px;
    background-size: 140px;
}

header{
        background-color: #21222A;
}

::marker{
    color: #61dafb;
}

.nav{
    padding: 10px 20px;
    width: 1vw;
    display:flex;
    align-items: center;
    flex: 0;
}

.reactFacts{
    color: #61dafb;
    margin-left: 7px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    flex: 1;
}

.nav-logo{
    width: 55px;
}

.main{
    padding: 20px;
    flex: 1;
}

.main-title{
    font-weight: 700;
}

.info-list-item{
    margin-block: 10px;
    line-height: 19px;
    font-weight:400;
}

.footer{
    margin-top: 35px;
    background-color: black;
    padding:5px;
    text-align:center;
    flex: 0;
}